<h2>My Bitefeed</h2>

<form action='/user/<%=@user.id%>/bitefeed' method="post">
<textarea name="bite_content" placeholder="<%=$placeholder_sayings.sample%>"></textarea>
<br>
<a href="/bite/new"><button type="submit">Create New Bite</button></a>
</form>
<br>
<%@bite_feed.each do |loop_bite|%>
  <%= erb :'_bite_display', locals:{bite: loop_bite}%>
<%end%>

