<form action="/bite/new" method="post">
  <h2>Create New Bite</h2>
  <label>New Bite: </label><input name="bite_body" type="text" placeholder:"What's your food status...?"><br>

  <button type="submit">Create Bite</button>
</form>
