<div class="header">
  <% if logged_in? %>
    <a href="/user/<%=session[:user_id]%>/bitefeed">My Bitefeed</a>
    <a href="/user/<%=session[:user_id]%>">My Profile</a>
    <a href="/logout" >Logout</a>
  <% else %>
    <a href="/">Login</a>
    <a href="/signup">Signup</a>
  <% end %>
</div>