<div class="login">
<form action="/" method="post">
  <h3>Login</h3>

  <label> Username :</label>&nbsp;&nbsp;&nbsp;<input name="user[name]" type="text"><br><br>
  <label> Password :</label>&nbsp;&nbsp;&nbsp;<input name="user[password]" type="password"><br>

  <br>
  <%if @error %>
    <%=@error%><br>
  <%end%>
  <br>
  <button class="btn" type="submit">Login</button>
</form>
</div>
