<div class="login">
<form action="/signup" method="post">
  <h3>Signup</h3>
    <label>Username :</label>&nbsp;&nbsp;&nbsp;<input name="user[name]" type="text"><br><br>
    <label>Password :</label>&nbsp;&nbsp;&nbsp;<input name="user[password]" type="password"><br><br>
    <label>Confirm Password :</label>&nbsp;&nbsp;&nbsp;<input name="user[confirm_password]" type="password"><br><br>
    <% if @error %>
    <%= @error %>
    <% end %>
    <br><br>
  <button class="btn" type="submit">Sign up</button>
</form>
</div>
