<h1>The Social Bite</h1>
<form action="/signup" method="post">
  <h2>Signup</h2>
    <label>Username: <br></label><input name="user[name]" type="text"><br><br>
    <label>Password: <br></label><input name="user[password]" type="password"><br><br>
    <label>Confirm Password: <br></label><input name="user[confirm_password]" type="password"><br><br>
    <% if @error %>
    <%= @error %>
    <% end %>
    <br><br>
  <button type="submit">Sign up</button>
</form>
